.content {
  background: #f4f4f4;
  min-height: 100vh;
}
.postjobslimit {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.postjobslimit {
  width: 199px;
  height: 162px;
}
.profimg {
  width: 80%;
  height: 80%;
}
.jobsstac {
  color: #00a4e5;
}
.profcard {
  background: white;
  border-radius: 5px;
  color: white;
}
.Managejobsmain {
  min-height: 100vh;
  background: rgb(244, 244, 244);
  overflow-x: hidden;
}
.Chartsecmain {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}
.revicon1 {
  background: #5200ff;
  border-radius: 5px;
  width: 245px;
  height: 171px;
  color: white;
}
.revicon2 {
  background: #6821ff;
  border-radius: 5px;
  width: 245px;
  height: 171px;
  color: white;
}
.revicon3 {
  background: #864dff;
  border-radius: 5px;
  width: 245px;
  height: 171px;
  color: white;
}
.companyconn {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.chart {
}
.companyconn {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .chart {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .companyconn {
    display: inline;
  }
  .profcard {
    display: none !important;
  }
}
