.auth_page {
  min-height: 100vh;
  background: #01aff3;
}
.auth_page__model {
  background: white;
}
/* .auth_img {
  z-index: 1000000;
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  background-image: url("../../Assets/Images/sign-in-right.png");
} */
.from {
  height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .auth_img {
    display: none;
  }
  .Frogetpassin {
    border: none !important;
  }
  .Frogetpassins {
    border: none !important;
  }
}
.InputField {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  height: 36px;
  width: 100%;
}
.InputFieldRe {
  color: #8b8b8b;
}
.Frogetpassin {
  background: #ffffff;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  width: 466px;
  height: 471px;
  flex-direction: column;
}
.Frogetpassmain {
  min-height: 100vh;
}
.linksendbbtn {
  border: none;
  color: white;
  background: #01aff3;
  border-radius: 3px;
}
.fontcol {
  color: #8b8b8b;
}
.fogetinput {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  height: 45px;
}
.back {
  color: #01aff3;
}
.fogetinput::placeholder {
  color: #cdcdcd;
}
.Frogetpassins {
  background: #ffffff;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  width: 466px;
  height: 487px;
  flex-direction: column;
}
.passinput {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-left: none;
}
.InputField2 {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-right: none;
}
