.locont {
  background: #ffffff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  /* width: 1106px; */
  height: 165px;
  margin: -129px 0px 0px 0px;
}
.applyingcard {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.parttimebtn {
  border: 1px solid #000000;
  border-radius: 3px;
  width: 91px;
  height: 36px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
.applybtn {
  border: none;
  background: #5200ff;
  width: 119px;
  height: 36px;
  border-radius: 3px;
  color: white;
}
@media only screen and (max-width: 767px) {
  .heroSec {
    background: #2f23a1;
    height: 100vh;
  }
}
@media only screen and (max-width: 375px) {
  .heroSec {
    background: #2f23a1;
    height: 115vh;
  }
}
