.aboutHeading {
    font-size: 37px;
    letter-spacing: 2px;
    margin-bottom: -20px;
    margin-top: 20px;
}
.aboutPara {
    font-size: 19px;
    letter-spacing: .5px;
}
.aboutBtn {
    border: none;
    color: white;
    background-color: #5200FF;
    padding: 14px 50px;
    border-radius: 3px;
}
@media (max-width: 989px) {
    .aboutHeading {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .aboutPara {
        font-size: 15px;
        letter-spacing: .5px;
        text-align: center;
    }
    .aboutImg {
        max-width: 90%;
    }
    .aboutBtnContainer {
        display: flex;
        justify-content: center;
    }
    .aboutBtn {
        border: none;
        color: white;
        background-color: #5200FF;
        padding: 10px 40px;
        border-radius: 3px;
    }
}
@media (max-width: 350px) {
    .aboutHeading {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .aboutPara {
        font-size: 12px;
        letter-spacing: .5px;
        text-align: center;
    }
    .aboutImg {
        max-width: 90%;
    }
}