.ogsfonts16Nav {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}
.navhie {
  height: 100px;
}
.logoOgs {
  width: 172px;
  height: 64px;
}
.Loginbtn {
  border: none;
  color: #01aff3;
  background: white;
}
/* .Loginbtn:hover {
    background: #5200ff;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
  } */
.Registerbtn {
  border: none;
  /* width: 105px;
  height: 38px; */
  background: #01aff3;
  border: 1px solid #01aff3;

  color: white;
}
.postbtn {
  border: none;
  /* width: 105px;
  height: 38px; */
  color: #01aff3;
  background: #ffffff;
  border: 1px solid #01aff3;
  border-radius: 0px 3px 3px 0px;
}
@media only screen and (max-width: 991px) {
  .navhie {
    height: auto;
  }
  .dropdown-menu[data-bs-popper] {
  }
}
.sdweqw {
  display: flex;
  gap: 16px;
}
/* .dropdown-menu[data-bs-popper] {
  top: 75px;
  left: 814px;
} */
