.Cvmainds {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.Cvmainmb {
  display: none;
}
.cvheadicon {
  border: none;
  background: transparent;
}
.skills {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 100px;
}
@media only screen and (max-width: 768px) {
  .Cvmainmb {
    display: block;
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  .Cvmainds {
    display: none;
  }
}
