* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ogsfonts {
  font-family: "Public Sans", sans-serif;
}

.ogsfonts12 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.ogsfonts14 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.ogsfonts15 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.ogsfonts16 {
  font-family: "Public Sans" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.navhie {
  height: 130px;
  line-height: 159.5%;
}

.ogsfonts18 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.fontcolorred {
  color: #b50202;
}

.ogsfonts20 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.ogsfonts24 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 192%;
}
.ogsfonts25 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}
.ogsfonts28 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.ogsfonts32 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 192%;
}
.ogsfonts38 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 192%;
}
.ogsfonts48 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
a {
  text-decoration: none;
  color: black;
}

/* BUTTONS */
.primaryButtonOutline {
  border: 1px solid #5200ff;
  color: #5200ff;
  background: transparent;
  padding: 13px 25px;
  border-radius: 3px;
}

.primary-color {
  color: #343434;
}

.primary-bg {
  background-color: #2f23a1;
}

.unset_button {
  border: unset;
}

.form_action_button {
  background-color: #5200ff;
}

button {
  background-color: #2f23a1;
}

.disable_slide_button button {
  visibility: hidden;
}

.slide_button {
  position: relative;
}

.slide_button button:not(.submit) {
  visibility: hidden;
}
.color404040 {
  color: #404040;
}
/* .slide_button button:after {
  content: 'Previous';
  visibility: visible;
  display: block;
  border: 1px solid green;
  padding: 5px;
  top: 2px;
} */
/* .slide_button button:nth-child(2) {
  width: 100%;
  text-align: center;
}

.slide_button button:nth-child(2)::after {
  content: "Continue";
  visibility: visible;
  display: block;
  padding: 5px;
  width: 100%;
  background: #5200ff;
  border-radius: 3px;
  color: white;

} */

.form_step ol li::before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.primaryButtonOutline:hover {
  color: white;
  background: #5200ff;
  transition: background 0.3s;
}
.apexcharts-toolbar {
  z-index: 0 !important;
}

.datalist-icon {
  position: absolute;
  right: 0%;
  top: 20%;
}

.browsers option {
  width: 100%;
}

.text__note {
  color: #ff2f54;
  font-weight: 500;
  font-size: 14px;
}

.text__note_green {
  color: #209b20;
  font-weight: 500;
  font-size: 14px;
}
.accordion234 {
  border: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
  border: white;
  box-shadow: white 1px 1px 1px 1px !important;
  color: black;
}
.accordion-button::after {
  color: black;
}
.aselementstyle {
}
.w-75 {
  width: 75% !important;
}
.progress-bar {
  background: rgba(82, 0, 255, 0.78);
  opacity: 0.3;

  border-radius: 10px;
}
.sidebarwidthmax {
  width: 200px !important;
  transform: scale(10px 100px);
}
.sidebarwidthmin {
  width: 50px !important;
}
.sidebarmarginmin {
  margin-left: 55px !important;
}
.sidebarmarginmax {
  margin-left: 200px !important;
}
@media only screen and (max-width: 420px) {
  .sidebarmarginmax {
    margin-left: 55px !important;
  }
}
.srolll {
  overflow: scroll !important;
}
.sidebarwidthminadmin {
  width: 0px !important;
}
.asdesas div:hover {
  background: #a7a7a7 !important;
}
.asdesaser {
  background: #f4f4f4;
}
.dropdown-toggle::after {
  border: none !important;
  font: normal normal normal 14px/1 FontAwesome;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACuSURBVHgBfY+xDcIwEEX/JQMQCYqUSReoPAF4BbqMQMkGCRMgJmAGJrBFRekKpUyZAiTTUcXcRRQoQrFkyf7/fd0/Wiq9D0DSOFtj4hRK18z5qB++oSrUxrCYjcFM6YR1Iwyhn8XPrr3N0/wVASX75SLNL4+u9QKvlFYxgiHOcWDXuOuJfkaKaKQeQAc2PCEchxqg7d1ZJxyNekrozE/9leyb4dZZj+kF15Xcf94Hnxw4Y/FQNqwAAAAASUVORK5CYII=) !important;
  vertical-align: 0;
  margin: 0px !important;
}
.cblack {
  color: black;
}
