.auth_page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

.auth_page__model {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: unset;
}

.auth_img {
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    background-image: url('../../Assets/Images/sign-in-right.png');
}

.form-heading {
    font-size: 40px;
    color: #000000
}

.form_heading_1 {
    color: #343434;
    font-size: 24px;
}

.form_description {
    font-size: 14px;
    color: #8B8B8B;
    font-weight: 500;
}

.form_input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
}